
/* body.calculadoraa.suma {
    background: linear-gradient(160deg, yellow, rgb(231, 231, 152));
}

body.resta {
    background: linear-gradient(160deg, rgb(255, 136, 0), rgb(248, 186, 116));
}

body.multiplicacion {
    background: linear-gradient(160deg, green, rgb(91, 148, 91));
}

body.division {
    background: linear-gradient(160deg, purple, rgb(166, 87, 166));
} */


.calculadoraa{
    /* background-color: rgb(6, 119, 218); */
    background: linear-gradient(160deg, rgb(25, 132, 225),rgb(6, 77, 138));
    margin: 4%;
    padding: 5%;
    max-width: max-content;
    border-radius: 10%;
    text-align: center;
}
.calculadoraa #val1 , #val2 , #texto3 , #texto4 {
    color: white;
    padding: 10px;
    text-align: left;
    text-shadow: 0px 0px 7px black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input , select{
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: rgb(207, 218, 228);

}

button{
    padding: 4%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    max-width: max-content;
    text-align: center;
    background-color: rgb(181, 181, 181);
}

.resultado {
    display: flex;
    justify-content: center;
}